{% extends "base.html" %}

{% block content %}
    <form method="post">
        <label>login</label>
        <input type="text" name="login" value="{{ fields.login }}" />

        <label>password</label>
        <input type="password" name="password" />

        <input id="btn_login" type="submit" />
    </form>

    <ul>
        {% for error in errors %}
        <li>{{ error.msg }}</li>
        {% endfor %}
    </ul>

    <script src="/jquery-3.2.1.min.js"></script>
    <script src="/axios.min.js"></script>
    <script src="/bcrypt.min.js"></script>
    <script src="/auth.js"></script>
{% endblock %}
